app_mode = "production" #Anything != production will show DEBUG messages

[App]
IP = ""
Port = 5353
Logfile = true
Logdir = "/var/log/"

[Database]
IP = "127.0.0.1"
Username = "sacrebleu"
Password = "superSecretPassword"
Port = "3306"
DB = "sacrebleudatabase"
Type = "mysql" #postgresql or mysql

[Redis]
IP = "127.0.0.1"
Port = 6379
Password = ""
DB = 0
TTL = 10  #In seconds 
