AppMode = "production" #Anything != production will show DEBUG messages

[App]
IP = ":"
Port = 5353
Logfile = true
Logdir = "/var/log/"

[Database]
IP = "127.0.0.1"
Username = "sacrebleu"
Password = "superSecretPassword"
Port = "3306"
Db = "sacrebleudatabase"
Type = "mysql" #postgresql or mysql

[Redis]
IP = "127.0.0.1"
Port = 6379
Password = ""
Db = 0
Ttl = 10  #In seconds 
